body {
  background-color: #52b69a;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  text-align: center;
}

form{
  margin: 0 3px 0 3px;
}

.task-table {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  min-width: 200px;
  max-width: 400px;
}

.task-column {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #34a0a4;
  margin: 0 2px 0 2px;
}

.task {
  text-align: center;
  border: 1px solid #1e6091;
  background-color: #168aad;
  border-radius: 3px;
  margin: 3px;
  padding: 1px;
}

.-finished{
  background-color: red;
}

.hidden-sumbit-button {
  position: absolute; 
  left: -9999px; 
  width: 1px; 
  height: 1px;  
}

.App {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  left: 5%;
  right: 5%;
}